<!-- Start: Search Section -->
<section class="search-filters">
  <div class="container">
    <div class="filter-box">
      <h3>What are you looking for at the library?</h3>
      <%if params[:action] == "index"%>
        <%= form_tag(authors_path, :method => "get") do%>
          <%= render "submit"%>
        <%end%>
      <%else%>
        <%= form_tag(admin_authors_path, :method => "get") do%>
          <%= render "submit"%>
        <%end%>
      <%end%>
    </div>
  </div>
  
</section>
<!-- End: Search Section -->