<div class="col-md-9 col-sm-6">
    <div class="form-group">
        <%= text_field_tag :keyword,"",class: "form-control",placeholder: "Search by name of authors" %>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <%= submit_tag "Search", class: "form-control"%>
</div>