<%= render "shared/banner" %>
<% if @carts.present?%>
  <%= render "search"%>
  <%= render "list"%>
<% else %>
  <h1 style="text-align: center; margin-top: 100px;">
    There's no Cart on Queuing <i class="far fa-frown"></i>
  </h1>
  <%= link_to books_url  do %>
    <h3 style="text-align: center; ">
    <i class= "fas fa-arrow-right"></i>Go to Book & Media
    </h3>
  <% end %>
<% end %>