<%= render "banner" %>
<!-- # 3: carting, 0:pending, 1: accept, 2: decline -->
<% if @carts %>
<div class="table-users" style="margin-top: 70px;">
    <div class="header">History of Trading</div>

    <table cellspacing="0">
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Date</th>
            <th>Accept/Decline</th>
            <th>Option</th>
        </tr>

        <% @carts.each do |c| %>
        <%= render partial: "carts/cart", object: c, as: :c %>
        <% end %>

    </table>
</div>
<% else %>
<h1 style="text-align: center; margin-top: 100px;">
    Users's Cart is emptying <i class="far fa-frown"></i>
</h1>
<%= link_to books_url  do %>
<h3 style="text-align: center; ">
    <i class="fas fa-arrow-right"></i>Go to Book & Media
</h3>
<% end %>
<% end %>